body {
	height:100%; /* remove later */
}

#center-column {
	text-align: center;
	margin-top: 3%;
}

#top-of-page {
    color: white;
	padding-top: 7%;
	padding-bottom: 7%;
	text-align: center;
    background-image: url("images/war.webp");
    text-shadow: 2px 2px #ff0000;
}

#title {
    margin-bottom: 3%;
}

.card {
    margin-top: 3%;
    margin-bottom: 3%;
}